<h1>Edit Question</h1>


<%# if you pass a persisted ActiveRecord object to the `form_For`, then form_for
    will submit a PATCH request instead of POST using a hidden_field technique
    and the URL for the form will be in this case the `update` action URL. in
    our case this is question_path(@question) %>

<%= render 'form' %>
