<h1>New Question</h1>
<%# form_for is a built-in rails helper that enables us to generate a form from
    an activerecord model to submit to the associated controller. if you pass in
    a non-persisted ActiveRecord object (not in the dB yet) then `form_for` will
    automatically assume that this form will submit to the `create` action in
    the associated controller ( in our case questions#create ) which has a PATH
    helper of `questions_path` so we must have `questions_path` defined

    %>

<%# render helps you insert a partial. Rails expects in here that you defined
    a partial within the same folder of this file (new.html.erb) called
    _form.html.erb . Note that partials will have access to instance variables
    so there is no need to pass them explicitly. If you want to pass a local
    variable, then you'll need to do so explicitly... as in
      render 'form, my_var: 'abc'
    Also, if the partial is in another folder (such as contact) then you will
    have to put the full path for the partial as in:
      render '/contact/form'
    %>
<%= render 'form' %>
